.Demo
{
	Display: Flex;
	Gap: 25px;

	@media (min-width: 1250px)
	{
		Flex-direction: Row;
		Justify-content: Space-between;

		& > HR
		{
			@include HR_Vertical;
		}
	}

	@media (max-width: 1250px)
	{
		Flex-direction: Column;

		& > HR
		{
			@include HR_Horizontal;
		}
	}
}