Header
{
	Padding: 18px 20px;
	Gap: 10px;

	& > Custom-icon
	{
		--Color: Var(--Main);
		--Scale: 30px;
	}

	& > Div
	{
		Color: Var(--Gray-70);
		Font-size: 22px;
		Font-weight: 500;
		Font-family: Var(--Font-Title);
	}
}