Main
{
	Gap: 40px;

	@media ($WideScreen)
	{
		Padding: 50px;
	}

	@media ($NarrowScreen)
	{
		Padding: 20px;
	}



	H1
	{
		@include Reset_H;
		Font-weight: 500;
		Font-family: Var(--Font-Title);
		Color: Var(--Main);

		@media ($WideScreen)
		{
			Font-size: 48px;
		}

		@media ($NarrowScreen)
		{
			Font-size: 36px;
		}
	}

	H2,
	H2 > A
	{
		@include Reset_H;
		Font-weight: 500;
		Font-family: Var(--Font-Title);

		@media ($WideScreen)
		{
			Font-size: 32px;
		}

		@media ($NarrowScreen)
		{
			Font-size: 26px;
		}
	}

	H3,
	H3 > A
	{
		@include Reset_H;
		Font-weight: 500;
		Font-family: Var(--Font-Title);
		// Color: Var(--Gray-80);

		@media ($WideScreen)
		{
			Font-size: 24px;
		}

		@media ($NarrowScreen)
		{
			Font-size: 22px;
		}
	}

	H2 > A,
	H3 > A
	{
		@include Reset_A;
		Border-bottom: 1.75px Solid Var(--Main-UI);
	}



	.Grid
	{
		Display: Grid;
		Grid-template-columns: Repeat(Auto-fill, Minmax(300px, 1fr));
		Gap: 30px 25px;
		Justify-items: Center;
		Align-items: Center;

		Custom-textarea
		{
			Width: 100%;
		}
	}

	// .ItsWebComponent
	// {
	// 	Display: Flex;
	// 	Gap: 7.5px;
	// 	Padding: 7.5px 10px 6.5px 8.5px;
	// 	Border: 1px Solid Var(--Gray-20);
	// 	Border-radius: 50px;

	// 	& > svg
	// 	{
	// 		Height: 16px;
	// 	}

	// 	& > Span
	// 	{
	// 		Font-family: Var(--Font-UI);
	// 		Font-size: 14px;
	// 		Font-weight: 500;
	// 		Color: Var(--Gray-85);
	// 	}
	// }

	Input[Type="Range"]
	{
		Width: Min(100%, 500px);
	}

	#Ripple_Content
	{
		Display: Grid;
		Gap: 10px;
		Grid-auto-flow: Column;

		& > *
		{
			Height: 250px;
			Border-radius: Var(--Border-radius);
			Box-shadow: 0 1px 3px HSLA(0, 0%, 0%, 20%), 0 4px 12px HSLA(0, 0%, 0%, 2.5%);
			Cursor: Pointer;
		}
	}
}