@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,500|Lora:400,500|Bellota:700|Playfair+Display:500|Roboto:400,500|Roboto+Mono:400|Manrope:400,500");

:root
{
	--Hue: 0;
	--Saturation: 70%;
	--Lightness: 50%;

	--Gray-Hue: 210;
	--Gray-Saturation: 10%;

	--Font-Title: 'Google Sans', #{$Font-Fallback-Sans-serif};
	--Font-Text: 'Lora', #{$Font-Fallback-Serif};
	--Font-UI: 'Google Sans', #{$Font-Fallback-Sans-serif};
	--Font-Monospace: 'Roboto Mono', #{$Font-Fallback-Monospace};

	--Border: 2.5px;
}