Main
{
	Gap: 40px;

	@media ($WideScreen)
	{
		Padding: 50px;
	}

	@media ($NarrowScreen)
	{
		Padding: 20px;
	}



	H1
	{
		@include Reset_H;
		Font-weight: 500;
		Font-family: Var(--Font-Title);
		Color: Var(--Main);

		@media ($WideScreen)
		{
			Font-size: 48px;
		}

		@media ($NarrowScreen)
		{
			Font-size: 36px;
		}
	}

	H2
	{
		@include Reset_H;
		Font-weight: 500;
		Font-family: Var(--Font-Title);

		@media ($WideScreen)
		{
			Font-size: 32px;
		}

		@media ($NarrowScreen)
		{
			Font-size: 26px;
		}
	}

	// H3
	// {
	// 	@include Reset_H;
	// 	Font-weight: 500;
	// 	Font-family: Var(--Font-Title);

	// 	@media ($WideScreen)
	// 	{
	// 		Font-size: 26px;
	// 	}

	// 	@media ($NarrowScreen)
	// 	{
	// 		Font-size: 22px;
	// 	}
	// }



	.Grid
	{
		Display: Grid;
		Grid-template-columns: Repeat(Auto-fill, Minmax(300px, 1fr));
		Gap: 30px 25px;
		Justify-items: Center;
		Align-items: Center;

		Custom-textarea
		{
			Width: 100%;
		}
	}

	Input[Type="Range"]
	{
		Width: Min(100%, 500px);
	}

	#Ripple
	{
		Display: Grid;
		Gap: 10px;
		Grid-auto-flow: Column;

		& > *
		{
			Height: 250px;
			Border-radius: Var(--Border);
			Box-shadow: 0 1px 3px HSLA(0, 0%, 0%, 20%), 0 4px 12px HSLA(0, 0%, 0%, 2.5%);
			Cursor: Pointer;
		}
	}
}